.auth {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.auth__control {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

.auth__control:focus {
  color: #476bcf;
}

.auth__control:hover {
  color: #476bcf;
}

@media (max-width: 900px) {
  .auth {
    width: 100%;
    padding: 0 5px;
    flex-direction: column;
    margin: 10px auto;
    align-items: flex-end;
  }
  .auth__control {
    text-align: center;
    margin-top: 5px;
    border-radius: 0;
    width: 100%;
  }
}
