.container {
  margin: 0 15px;
  cursor: pointer;
}

.menu {
  top: 50px !important;
  transform: translateX(-42px) !important;
  background-color: #000000a1 !important;
  padding: 5px !important;
  box-shadow: none !important;
}
.menu__list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.menu__item {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  color: #ffffff !important;
  font-weight: bold !important;
}
.nav__link {
  text-decoration: none;
}
.menu__item:first-of-type {
  margin-top: 0 !important;
}
.menu__item::after {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 15%;
  width: 0;
  height: 2px;
  background-color: #00f335;
  content: "";
  transition: width 0.2s ease-out;
}

.menu__item:hover::after {
  width: 70% !important;
}

@media (max-width: 900px) {
  .container {
    margin: 15px auto 0 auto;
  }
  .menu {
    top: 56vh !important;
    transform: translateX(-130px) !important;
  }
}
